/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FIM DO RESET */

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-image: url(fundo.jpg);
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

body div.cartao{
    background-color: rgb(255, 104, 104);
    display: flex;
    padding: 20px;
    margin: 10px;
    border: 20px solid rgb(223, 223, 223);
    border-radius: 2%;
}

body div.cartao:hover{
  animation: cores 1s linear infinite; 
}


body div.cartao img{
    width: 20vw;
    border-radius: 5%;
}

body div.cartao div.text{
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

body div.cartao div.text h1{
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 5vh;
}

img {
    transition: transform 0.1s ease; 
  }
  
  img:hover {
    animation: shake 0.5s linear infinite; 
  }
  
  @keyframes shake {
    12.5% { transform: translate(0px, 0px) rotate(0deg); }
    25% { transform: translate(-1px, 1px) rotate(1deg); }
    37.5% { transform: translate(-2px, 2px) rotate(2deg); }
    50% { transform: translate(-1px, 1px) rotate(1deg); }
    62.5% { transform: translate(0px, -0px) rotate(0deg); }
    75% { transform: translate(1px, -1px) rotate(1deg); }
    87.5% { transform: translate(2px, -2px) rotate(2deg); }
    100% { transform: translate(1px, -1px) rotate(1deg); }
  }

.text{
    transition: transform 0.5 ease;
}

.text:hover {
    animation: balanco 0.5s linear infinite; 
  }

  @keyframes balanco {
    12.5% { transform: translate(0px, 0px) ; color: red;}
    25% { transform: translate(-1px, 0px); color: #aa5500;}
    37.5% { transform: translate(-2px, 0px); color: #55aa00;}
    50% { transform: translate(-1px, 0px); color: #00ff00;}
    62.5% { transform: translate(0px, 0px); color: #00aa55;}
    75% { transform: translate(1px, 0px); color: #0055aa;}
    87.5% { transform: translate(2px, 0px); color: blue;}
    100% { transform: translate(1px, 0px) ; color: #800080;}
    
  }

  @keyframes cores {
    16.66% {border-color: #ffffff;}
    33.33% {border-color: #80ff80;}
    50% {border-color: #00ff00;}
    66.66% {border-color: #808000;}
    83.33% {border-color: red;}
    100% {border-color: #ff8080;}
  }